*,
*::before,
*::after {
  border: none;
  box-sizing: border-box;
  font-family: 'Albert Sans', system-ui, sans-serif;
}
:focus:not(:focus-visible) {
  outline: none;
}
img {
  display: block;
  max-width: 100%;
}

ol:not(article ol),
ul:not(article ul) {
  list-style: none;
}

ol,
ul {
  padding-left: 0;
}

article ol,
article ul {
  list-style-position: inside;
}
label,
button,
select,
summary,
[type='radio'],
[type='submit'],
[type='checkbox'] {
  cursor: pointer;
}

body {
  margin: 0;
  padding: 1rem;
  color: black;
  background-color: #cccccc;
}

button {
  background-color: #9a9a9a;
  border: 1px solid #777;
  border-radius: 6px;
  box-shadow: 2px 2px 6px 2px #ccc;
  color: rgb(52, 52, 52);
  cursor: pointer;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 1rem;
  transition: box-shadow 0.5s;
  &:hover {
    box-shadow: 2px 2px 4px 2px #999, 2px 2px 4px 4px #8d8d8d inset;
  }
}

ul {
  li {
    border-bottom: 1px solid #fff;
    padding: 20px 10px;
  }
}

h1 {
  background: linear-gradient(90deg, #ef4444, #f59e0b);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#loader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%);
  width: 150px;

  span {
    background-color: #ffc400;
    border-radius: 50%;
    height: 20px;
    position: relative;
    top: 0;
    width: 20px;

    /*animation*/
    animation-name: bounce;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    &:nth-child(2) {
      animation-delay: 0.1s;
      background-color: #ff5733;
    }
    &:nth-child(3) {
      animation-delay: 0.2s;
      background-color: #c70039;
    }
    &:nth-child(4) {
      animation-delay: 0.3s;
      background-color: #900c3f;
    }
    &:nth-child(5) {
      animation-delay: 0.4s;
      background-color: #581845;
    }
  }
}

@keyframes bounce {
  25% {
    top: 10px;
  }
  75% {
    top: -10px;
  }
}
